// variables.scss
$primary-color: #320b57;
$lightprimary:#946fb618;
$secondary-color: #14cb00;
$text-color: #fff;
$background-color: #320b57e8;
$border-color: #c500fb;
$hover-color: rgba(0, 0, 0, 0.365);
$animation-duration: 0.3s;
$box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.326);
$border:rgba(0, 0, 0, 0.131)
