// App.scss
@import './variables';

.app {
  display: flex;
  
}
#app_{
  max-width: 2400px;
  margin: 0 auto;
}
.main-content {
  flex: 1;
  transition: margin-left $animation-duration;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.content {
  overflow-y: auto;
  // margin-left: 100px;
}