// NavBar.scss
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4b187a;
  padding: 0px 10px;
  height: 6.5vh;
  .navbar-left {
    display: flex;
    align-items: center;

   

    .nav-items {
      display: flex;
      margin-left: 20px;

      span {
        margin-right: 20px;
        font-size: 16px;
        color: white;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // padding: 0px 10px;
    
    img{
      padding-left: 20px;
      width: 26px;
      height: 26;
      
    }
    .iconRight{
      font-size: 18px;
      // border: 1px solid red;
      border-left: 1px solid #ffffff31;
    }
    .leftIcon {
     
      div {
        width: 1px;
        height: 25px;
        background: #ffffff34;
        margin-right: 20px;
      }
      .icon2{
        color: #ffffff67;
      }
      color: greenyellow;
      font-size: 1.4rem;
      width: 70px;
      display: flex;
      justify-content: space-between;
      
    }
    .search-bar {
      display: flex;
      align-items: center;
      background-color: #3b0066; 
      padding: 2px 15px;
      border-radius: 5px;
      // margin-right: 10px;
      width: 30%;
      span{
        font-size: 26px;
        padding-top: 3px;
      }

      input {
        border: none;
        background: transparent;
        color: rgba(255, 255, 255, 0.676);
        outline: none;
        margin-right: 5px;
        width: 100%;
        font-size: 1.1rem;

        &::placeholder {
          color: #b0a8c680; 
        }
      }

      svg {
        color: white;
      }
    }

    .icon {
      color: white;
      font-size: 26px;
      margin-left: 15px;
      cursor: pointer;
    }
  }
}